.green-icon {
    color: green;
}

.red-icon {
    color: #dc3545;
}

.spinner-border {
    height: 1.5rem;
    width: 1.5rem;
}
.btn{
    background-color: green;
    padding-left: 60px;
    padding-right: 60px;
  }
  .apa {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(2, 104, 2);
    border-radius: 10px;
    color: white;
    padding: 10px;
}